$primary-bg: #ffffff;   // White background
$primary-font: #000000; // Black font color
$active-bg: #f44336;    // Red color for the active button background
$hover-bg: #2196f3;     // Blue color for the sidebar button hover background
$content-bg: #7a8d92;  // Light gray color for the content background